<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--! This won't work as public is already given in path in (Setting up public static files) -->
    <!-- <link rel="stylesheet" href="/public/stylesheets/style.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--! EJS feature -->
    <h1>Mayur <%= 5*2+10 %></h1>

    <!--! This won't work as public is already given in path in (Setting up public static files) -->
    <!-- <script src="/public/javascripts/script.js"></script> -->
    <script src="/javascripts/script.js"></script>

</body>
</html>